*{
    margin: 0px;
    padding: 0px;
    
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: white;
}
.navbar{
    display: flex;
    width: 84%;
    justify-content: space-between;
    margin-left:100px;
    align-items: center;
}
#logo{
    width: 130px;
}
.linkitem{
    display: inline-block;
    margin: 10px 20px;
}
.links{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.links:hover{
    color: red;
}
#name{
    color: orange;
    
}
.title{
    margin-top: 13%;
    margin-left: 12%;
    
}
.title h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.download{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 30px;
    margin-top: 25px;
    display: inline-block;
    border-radius: 10px;
}
.images{
    width: 45%;
    height: 85%;
    position: absolute;
    right: 20px;
    bottom: 0px;
}
.imagegroup{
    height:100%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-65%);
    transition: bottom 1s, left 2s;
}
.images:hover #girl{
    left: 40%;
}

.images:hover #shape{
    bottom:40px;
}
#about{
    margin: 20% 8% 0% 8%;
}
.heading{
    text-align: center;
}
.heading h1{
    font-size: 30px;
}
.heading span{
    color: green;
    font-size: 20px;
}
.about_content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    margin-top: 3rem;
}
.about_img img{
    width: 80%;
    border-radius: 10px;
}
.about_para p{
    text-align: justify;
    font-size: 20px;
}
.information{
    margin-top: 25px;
}
.info_box span{
    margin-left: 1rem;
    font-size: 20px;
}
.number span{
    margin-left: 1rem;
    font-size: 20px;
    margin-top:30px;
    display: inline-block;

}
.email{
    font-size: 20px;
    margin-top:30px;
}
.github{
    font-size: 20px;
    margin-top:30px;

}
.linkedin{
    font-size: 20px;
    margin-top: 30px;
}
#skills{
    margin: 7% 8% 0% 8%;
}
.skill_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    margin-top: 3rem;
}
.progress_container{
    margin-top: 10px;
}
.progress_bar{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
    justify-content: space-between;
    position: relative;
}
.bar{
    width: 100%;
    height:0.5rem;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;

}
.html_bar{
    width: 95%;
    background-color: orange;
}
.html_bar1{
    width:80%;
    background-color: orange;
}
.html_bar2{
    width:60%;
    background-color: orange;

}
.html_bar3{
    width:10%;
    background-color: orange;

}
.skill_image{
    width: 90%;
    padding:4rem;
    margin-top:-15%;
}
#contact{
    margin: 3% 8% 0% 8%;
}
.icon_set{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top:3rem;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}
    
.icon i{
    font-size: 2rem;
    color: black;
    
}
footer{
    margin-top: 50px;
    text-align: center;
    font-weight: bolder;
}
.icon:hover{
    background-image: linear-gradient(to bottom right,yellow,red);
}
